  <!DOCTYPE html>
  <html>
  <head>
  <title> Results </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway:500|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="css/bbduhomepagestyle.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

      <body>
           <h1 class="main-heading animated bounceInRight" > BBDU Result Analysis (JFF Project ) </h1>
<div class="container">
   

   <div class="box animated bounceInDown"> 

      
         
     
       <h1>Enter Student Details </h1>
      <form class="form-horizontal "  action="/bbdures" method="POST">

      <p>Enter University Roll Number :</p>
      
      <input type="number" name="roll_no" class="form-control" placeholder="10 Digit Roll Number">
      <p>Enter Student Name : </p>
      <input type="text" name="student_name"class="form-control" placeholder="Full Student Name">

      <p>Enter Mother Name : </p>
      <input type="text" name="mother_name"class="form-control" placeholder="Full Mother Name">

      <button type="text" class="btn btn-primary mb-2">Show Result</button>
      <p> <a href="/resultanalysis">Have a Look At Complete BCA-2017-First-Year-Analysis (Currently BCA 2nd Year)  </a>  </p>
        
    </form>
  </div>
  <div class="box2 animated fadeInLeftBig">
  Hey Folks ! <br>
 Thanks For visiting this website,<br> Please Tell me about your User Expreince ,<br>
  Valuable Suggestions,Questions and Queries at the following links Down Below<br>
  <li><a href="http://www.facebook.com/aksdumpy"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
       	<li><a href="http://www.instagram.com/aksdumpy"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>  
       	<li><a href="mailto:aksdumpy@gmail.com"><i class="fa fa-envelope"></i></a></li>  
      
  </div>
    <!-- 
<p class="del-res"><b> Do you Want to Get your Results Deleted From This Website ?-->
  	 <!--<br> Mail Me <a href="mailto:aksdumpy@gmail.com"><i class="fa fa-envelope"></i></a></b></p>-->
    
    
    
</div>       <!-- Ending container class-->
</body>
</html>