body {
    background-color:rgba(211,211,211,0.7);

    font-family: 'Raleway', sans-serif;
/*font-family: 'Roboto', sans-serif;*/
  background-size: cover; 
  background-repeat:repeat; 
    height: 100vh;
}

blockquote {
  margin: 0 auto;
  padding: 1em;
  border-left: 5px solid #999;
}

blockquote p {
  color: #555;
  font-size: 18pt;
  line-height: 1.4;

}
blockquote footer {
  margin-top: .5em;
  padding: 0;
  color: #777;
  font-size: 19pt;
  text-align: left;
  font-style: italic;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 200;
}
.jumbotron{
   margin-top: 20px!important;
  margin-bottom: 50px!important;
 box-shadow: 10px 10px 8px black;
  background-color:rgba(258,275,195,0.5)!important;
  border:1px solid black !important;

}
 /*css for invidual chart sizing */
 
 canvas{

 width:100%!important;
 height:100%!important;
background-color: inherit !important;



}
.row{

  margin-top: 10px!important;
  margin-bottom:20px!important;
 box-shadow: 10px 10px 8px black;
 background-color:rgba(258,275,195,0.4)!important;
 margin-left:3px!important;
 margin-right:3px!important;
}


.note{
    margin-top:25px!important;
}

/*css for grid sytem checkinng purpose */

.pink{

  /*border: 2px dotted black;*/
  border-top:1px solid black;
  border-left:1px solid black;
  border-right:1px solid black;
  margin-top: 2px;
  margin-bottom: 2px;
  
}

 .headings
{background:inherit;
text-align: center;
 font-size: 30px;
 font-weight:lighter;
}



/*//complete box*/
.stud-details{ 
   font-style: italic;
   font-size: 25px;
 font-weight: bolder;
 letter-spacing:4px;

   margin-left: 0px;
   margin-top: 1px;

}


/*vary data */
.stud-info{
   letter-spacing: 5px;
   
    font-weight: bold;
  font-size: 25px;
  
}



